# Environment / secrets
.env
secret.env
k8s/manifests/secret.env
*.secret.env

# Runtime data
data/
*.log

# Python
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
*.py[cod]

# Build / image exports
*.tar
*.tar.gz

# OS / editor
.DS_Store
.vscode/
.idea/

# Frontend Build
node_modules/
frontend/app.js
frontend/app.raw.js
frontend/help/
npm-debug.log*
